{
	"globals": {
		"log": true
	},
	"env": {
		"node": true,
		"es6": true
	},
	"extends": "eslint:recommended",
	"plugins": ["node", "lodash"],
	"settings": {
		"lodash": {
			"version": 3
		}
	},
	"rules": {
		"array-bracket-spacing": [1, "never"],
		"brace-style": [1, "stroustrup"],
		"camelcase": [1, {"properties": "never"}],
		"comma-dangle": [1, "always-multiline"],
		"comma-spacing": 1,
		"comma-style": [1, "last"],
		"complexity": [1, 15],
		"computed-property-spacing": [1, "never"],
		"consistent-this": [1, "self"],
		"curly": [2, "multi-line"],
		"dot-location": [1, "property"],
		"dot-notation": 1,
		"eol-last": 1,
		"eqeqeq": 2,
		"func-names": 1,
		"indent": [1, "tab", {"SwitchCase": 1}],
		"key-spacing": 1,
		"keyword-spacing": 1,
		"linebreak-style": [1, "unix"],
		"lodash/callback-binding": 2,
		"lodash/chain-style": 1,
		"lodash/collection-method-value": 2,
		"lodash/collection-return": 2,
		"lodash/identity-shorthand": 1,
		"lodash/matches-prop-shorthand": 1,
		"lodash/matches-shorthand": 1,
		"lodash/no-commit": 1,
		"lodash/no-double-unwrap": 2,
		"lodash/no-extra-args": 2,
		"lodash/no-single-chain": 1,
		"lodash/path-style": [1, "string"],
		"lodash/prefer-chain": [1, 3],
		"lodash/prefer-compact": 1,
		"lodash/prefer-filter": 1,
		"lodash/prefer-flat-map": 1,
		"lodash/prefer-get": [1, 3],
		"lodash/prefer-includes": 1,
		"lodash/prefer-invoke-map": 1,
		"lodash/prefer-lodash-method": [1, {"except": ["create", "filter", "find", "forEach", "keys", "map", "reduce", "slice", "some"]}],
		"lodash/prefer-map": 1,
		"lodash/prefer-matches": 1,
		"lodash/prefer-noop": 1,
		"lodash/prefer-reject": 1,
		"lodash/prefer-startswith": 1,
		"lodash/prefer-thru": 1,
		"lodash/prefer-wrapper-method": 1,
		"lodash/preferred-alias": 1,
		"lodash/prop-shorthand": 1,
		"lodash/unwrap": 2,
		"max-depth": [1, 4],
		"max-len": [1, 90, 4, {"ignoreUrls": true}],  // the goal is generally 80, just being a bit lenient here
		"max-nested-callbacks": [2, 3],
		"max-params": [1, 5],
		"max-statements": [1, 30],
		"node/no-missing-import": 2,
		"node/no-missing-require": 0,  // does not work with non-standard NODE_PATH
		"node/no-unsupported-features": [2, {"version": 6}],
		"no-console": 1,
		"no-else-return": 1,
		"no-empty": 1,
		"no-eval": 2,
		"no-extra-parens": 1,
		"no-lonely-if": 1,
		"no-lone-blocks": 1,
		"no-loop-func": 1,
		"no-mixed-spaces-and-tabs": 1,
		"no-multi-spaces": 1,
		"no-nested-ternary": 1,
		"no-self-compare": 1,
		"no-spaced-func": 1,
		"no-throw-literal": 2,
		"no-trailing-spaces": 1,
		"no-underscore-dangle": [1, "allow": ["super_", "__proxyTarget", "__isGO", "__isORP", "__isRP"]],
		"no-unneeded-ternary": 1,
		"no-unused-expressions": 2,
		"no-unused-vars": [1, {"vars": "all", "args": "none"}],
		"no-use-before-define": [1, "nofunc"],
		"no-with": 2,
		"object-curly-spacing": [1, "never"],
		"operator-linebreak": [1, "after", {"overrides": {"?": "before", ":": "before"}}],
		"quotes": [1, "single", "avoid-escape"],
		"quote-props": [1, "as-needed"],
		"semi": [1, "always"],
		"semi-spacing": 1,
		"spaced-comment": [1, "always", {"line": {"markers": ["TODO", "TODO:"], "exceptions": ["TODO"]}}],
		"space-before-blocks": [1, "always"],
		"space-before-function-paren": [1, {"anonymous": "always", "named": "never"}],
		"space-infix-ops": 1,
		"space-in-parens": [1, "never"],
		"space-unary-ops": 1,
		"strict": [2, "global"],
		"wrap-iife": [1, "inside"]
	}
}
